#container {
  border-style: solid;
  border-radius: 8px;
  background-color: #928374;
  width: 260px;
  height: 354px;
  margin: 100px auto;
  padding: 5px;
}

#display {
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  background-color: #fcf8ec;
  height: 70px;
  text-align: right;
  margin-bottom: 8px;
  font-family: 'Courier New', Courier, monospace;
}

#mini-display {
  margin: 0;
}

#main-display {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.clear {
  background-color: #fb4934;
  width: 93px;
}

.numpad {
  background-color: #b8bb26;
}

.operator, .equals {
  background-color: #458588;
}

button {
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  font-size: 23px;
  width: 60px;
  height: 50px;
  margin: 1px;
}

button:focus {
  border-color: #fcf8ec;
}

.row {
  margin-bottom: 2px;
}

