#container {
  border-style: solid;
  background-color: #928374;
  width: 320px;
  height: 450px;
  margin: 0 auto;
}

#display {
  border-style: solid;
  border-color: black;
  border-width: thin;
  background-color: #fcf8ec;
  height: 50px;
  text-align: right;
}

.clear {
  background-color: #fb4934;
}

.numpad {
  background-color: #b8bb26;
}

.operator, .equals {
  background-color: #458588;
}

