#container {
  border-style: solid;
  border-radius: 8px;
  background-color: #928374;
  width: 300px;
  height: 412px;
  margin: 100px auto;
  padding: 5px;
}

#display {
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  background-color: #fcf8ec;
  height: 70px;
  text-align: right;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#expression {
  margin: 0;
  font-size: 20px;
}

#result {
  margin: 0;
  font-size: 36px;
}

#btns-wrapper {
  padding-top: 5px;
}

.clear {
  background-color: #fb4934;
  width: 108px;
}

.numpad {
  background-color: #b8bb26;
}

.operator, .equals {
  background-color: #458588;
}

button {
  border-radius: 4px;
  border-style: solid;
  border-color: black;
  font-size: 23px;
  width: 70px;
  height: 60px;
  margin: 1px;
}

button:focus {
  border-color: #fcf8ec;
}

.row {
  margin-bottom: 2px;
}

